/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
header {
  font-size: 10em;
  width: 100%;
  text-align: center;
  background-color: #27AE60;
}
header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F2F2F2;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% 4%;
}
header a {
  margin: 0% 6%;
  color: #F2F2F2;
  font-size: 3rem;
  text-decoration: none;
}
.intro {
  display: block;
  background-color: #CA9B80;
}
.intro h2 {
  font-size: 5em;
}
.intro p {
  font-size: 3em;
  margin: 3% 0%;
}
.roles h2 {
  font-size: 5em;
}
.roles p {
  font-size: 3em;
  margin: 3% 0%;
}
.row {
  display: flex;
  margin: 5% 0%;
}
.column {
  flex: 33.33%;
  padding: 1%;
}
img {
  width: 100%;
  height: auto;
}
.content h3 {
  margin: 5% 0%;
  text-align: center;
  font-size: 3em;
}
.join {
  display: flex;
  justify-content: center;
}
.join .join-text {
  width: 70%;
}
.join .join-text h2 {
  font-size: 5em;
}
.join .join-text p {
  padding-top: 2%;
  font-size: 1.5em;
}
.join .join-text .btn {
  margin: 10% 0%;
  font-size: 4rem;
  background-color: #27AE60;
  height: auto;
  width: 40%;
}
.join .nature {
  width: 50%;
}
