.chris {
  max-width: 50%;
  .container-style();
  @media @phone {
    max-width: 90%;
    display: block;
  }
  .chris-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    @media @phone {
      width: auto;
      height: auto;
    }
  }
  h2 {
    text-align: center;
    padding-top: 2%;
    color: red;
  }
  .git-div {
    display: flex;
    justify-content: center;
  }
  a {
    background: #211f1f;
    color: white;
    border-radius: 50%;
  }
}

.column {
  float: left;
  width: 24.5%;
  margin-bottom: 16px;
  padding: 0 1.5%;
  @media @phone {
    width: 100%;
    display: block;
    padding: 0 5%;
  }

  .container-b {
    .container-style();
    img {
      height: auto;
      width: auto;
    }

    h2 {
      color: red;
      text-align: center;
      padding-top: 2%;
    }
    .git-div {
      display: flex;
      justify-content: center;
    }
    a {
      background: #211f1f;
      color: white;
      border-radius: 70%;
    }
  }
}
