.chris {
  max-width: 45%;
  .container-style();
  @media @phone {
    width: 100%;
    display: block;
  }
  .chris-pic {
    height: auto;
    width: auto;
  }
  h2 {
    text-align: center;
    padding-top: 2%;
  }
}

.column {
  float: left;
  width: 24.5%;
  margin-bottom: 16px;
  padding: 0 1.5%;
  @media @phone {
    width: 100%;
    display: block;
    padding: 0 5%;
  }

  .container-b {
    .container-style();
    img {
      height: auto;
      width: auto;
    }

    h2 {
      color: red;
      text-align: center;
      padding-top: 2%;
    }

    a {
      background: #211f1f;
      color: white;
      border-radius: 50%;
    }
  }
}
