header{
    font-size: 10em;
    width: 100%;
    text-align: center;
    background-color: #27AE60;

}
header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F2F2F2;
  
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin:5% 4%;
}
header a {
  // margin: 5% 5% 5% 0%;
  margin: 0% 6%;
  color: #F2F2F2;
  font-size: 3rem;
  text-decoration: none;
}

.intro{
  display: block;
  background-color: #CA9B80;
}
.intro h2{
  font-size: 5em;
}
.intro p{
  font-size: 3em;
  margin:3% 0%
}





.roles h2{
  font-size: 5em;
}

.roles p {
  font-size: 3em;
  margin: 3% 0%;
}
 







// Content Section
.row {
  display: flex;
  margin:5% 0%;
}

.column {
  flex: 33.33%;
  padding: 1%;
}

img{
    width: 100%;
    height: auto;
    
}

.content h3{
    margin: 5% 0%;
    text-align: center;
    font-size: 3em;
}











.join{
    display: flex;
    justify-content: center;

  .join-text{
    width:70%;
    h2{
      font-size: 5em;
    }
    p{
      padding-top: 2%;
      font-size: 1.5em;
    }
    .btn{
      margin:10% 0%;
      font-size:4rem;
      background-color:#27AE60;
      height: auto;
      width: 40%;
    }
  }
  .nature{
    width:50%;
  }
}
